body{
    margin: 0;
    background-image: url("../images/backgeneral.jpg");
    background-repeat: repeat-x; top:50px ;
}

#header{
     background-image: url("../images/FileControl4-Header.jpg");
    background-repeat: repeat-x; top:0 ;
    height: 80px;
}
#Logo{
    background-image: url("../images/Equilatero.png");
    background-repeat: no-repeat;
     position:absolute;
     top:8px;
     left: 1.5%;
     width:215px;
     height: 100px;
}
#user{
    position: absolute;
      color: white;
      top: 30px;
      right: 205px;
      font-family: Lucida Sans,Courier New;
      font-size: 18px;
}
#version{
    position: absolute;
      color: white;
      font-family: Lucida Sans,Courier New;
      font-size: 12px;
      top:57px;
     left: 177px;
     width:215px;
}

#Home{
  background-image: url("../images/Home.jpg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 150px;
  width: 26px;
  height: 26px;
}
#Engrane{
  background-image: url("../images/Configu.jpg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 100px;
  width: 26px;
  height: 26px;
}

#ExportDocuments ul li{

    list-style : none; 
    display : inline-block;
    width: 26px;
    height: 26px;
}

#PDF{
  background-image: url("../images/PDF.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;

}

#ExportDocuments{
    top : 80px;
    position :absolute;
    left : 120px;
}

#Excel{
  background-image: url("../images/File_XLS_32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

#LogOut{
  background-image: url("../images/LogOut.jpg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 50px;
  width: 26px;
  height: 26px;
}
#container{
margin: auto;
}
#LogIn{
background-image: url("../images/BackLogin.png");
background-size:45% 100%;
background-repeat: no-repeat;
border-color:  #008000;
background-position:center;
margin-top: 3%;
}
.titFormLogin{
    color: #006c21;
    font-size: 1.5em;
}
.forgetPassword{
    color: #006c21;
    font-size: 0.9em;
}
#documents{
    position: absolute;
    top: 100px;
    right: 65%;
}


#menu{
  height: 40px;
padding-bottom: 50%;
}

#menuTitle{
margin-top: 0;
color: #17822D;
font-size:14px;
width: 180px;
}
#containerMenu{
margin-top: 5%;
}

.empty{
    color:green;
}

#container{
    max-width: 98%;
    margin: auto;
}
#footer{
  background-repeat: no-repeat;
  position: relative;
  height: 115px;
  width: 615px;
  margin: auto;
}

#filter-tit{
    font-family: sans-seriy;
    margin: auto;
    height: 5px;
    width: 5px;
    white-space: pre;
    white-space: normal;
}
#filter-box{
    font-family: sans-seriy;
    margin: auto;
    height: 5px;
    width: 5px;
}
.taskTitle{
    color: white;
    position: relative;
    top: -50px;
    margin: auto;
    width: 25%;
    height: 26px;
    font-family: Lucida Sans Unicode,Arial;
    font-size: 20px;
}

.roles_border
{  
border:1px solid #016e1d;
padding: 20px;
background-color: white;
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #9CE6C1));
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
}
.roles_left ul
{
    margin: 0px;
    list-style-type: none;
    list-style:none;
    text-align: top;
    margin-left: -30px;
    cursor: pointer;
}
.roles_left ul li
{
    margin: 0;
    line-height: 30px;
    vertical-align: middle;
    display: block;
    text-indent: 0px;
    cursor: pointer;
}
.roles_right ul
{
    margin-left: 0px;
    list-style-type: none;
    list-style:none;
    text-align: top;
    cursor: pointer;
}
.roles_right ul li
{
    line-height: 30px;
    vertical-align: middle;
    display: block;
    text-indent: 0px;
    margin-left: -30px;
    cursor: pointer;
}
.fc4_listview_select
{
    background-color: #016e1d;
    background-position: 12pt;
    border-radius: 15px;
    color: #ffffff;
    position: relative;
    margin-left: -50px;
    cursor: pointer;
    padding-left: 20px;
    /*margin-left: inherit;*/
}
.fc4_listview_deselect
{
    background-color: transparent;
    color: #333333;
    cursor: pointer;
}
.tarea_border
{
border:1px solid #016e1d;
padding: 20px;
background-color: white;
/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;
/* gradients */
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #9CE6C1));
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
}
.tarea_left ul
{
    margin: 0px;
    list-style-type: none;
    list-style:none;
    text-align: top;
    margin-left: -30px;
    cursor: pointer;
}
.tarea_left ul li
{
    margin: 0;
    line-height: 30px;
    vertical-align: middle;
    display: block;
    text-indent: 0px;
    cursor: pointer;
}
.tarea_right ul
{
    margin-left: 0px;
    list-style-type: none;
    list-style:none;
    text-align: top;
    cursor: pointer;
}
.tarea_right ul li
{
    line-height: 30px;
    vertical-align: middle;
    display: block;
    text-indent: 0px;
    margin-left: -30px;
    cursor: pointer;
}
#contenidoActores{
    position: relative;
    color: #016e1d;
    margin-left: 10%;
}
#MyTask{
  /*position: absolute;
  top: 29%;
  left: 16%;*/
  margin-left: 19%;
  color: gray;
  font-size: 23px;
}
#Task{
  /*
  top: 29%;
  right: 23%;
  color: gray;
  font-size: 23px;*/
  position: absolute;
  margin-left: 66%;
  color: gray;
  font-size: 23px;
}
#error{
    color: #D95F0D;
    font:bold 16px "Trebuchet MS";
}
#from{
    color: #D95F0D;
}
#holder {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 0px 0px #666;/*
    background: #ddd url(http://raphaeljs.com/images/bg.png);*/
    margin: 0 auto;
    width: 440px;
    height: 280px;
}
.togglebox{
    margin: auto;
}
.togglebox2{
    margin: auto;
}
.imagesPopupHelp{
    -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
}
#selectPeriodo {
    padding:3px;
    margin: 0;
    border-radius:4px;
    -webkit-box-shadow:
        0 3px 0 #ccc,
        0 -1px #fff inset;
    -moz-box-shadow:
        0 3px 0 #ccc,
        0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    /*-webkit-appearance:none;*/
    cursor:pointer;
}
#regresarPagina
{
    top : 80px;
    left:10px;/*change the position*/
    position:absolute;
    background-repeat:repeat-x;
    background-color: rgba(57,105,26,1);/*change this and the background color for the :before element*/
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(133,133,133,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    height:30px;
    padding: 0 10px 0 8px;
    z-index : 0;
    border-radius: 6px;
    -webkit-border-top-left-radius : 20px 15px;
    border-top-left-radius: 20px 15px;
    -webkit-border-bottom-left-radius : 20px 15px;
    border-bottom-left-radius : 20px 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow :-1px -1px 0px rgba(0,0,0,0.2)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;
    font-size : 11px;
    display : block;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px #000;
    line-height : 30px;
    font-family : HelveticaNeue;
    font-weight: 700;
    -webkit-background-size : 30px;
    cursor: pointer;
}
#titleTask{
    font-size:18px;
    font-family:0;
    margin:0;
}
#logs{
    background-color:white;
    border: 3px #769523 solid;
}

#message{
    
    color :#006c21;
    
}